<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Blog on Rails", root_path, class: "navbar-brand mb-0 h1" %>
    <ul class="navbar-nav mr-auto">
      <%= link_to "New Idea", new_idea_path, class: "nav-link" %>
       <% if !user_signed_in? %>
      <%= link_to "Sign up", new_user_path, class: "nav-link" %>
      <%= link_to "Sign in", new_session_path, class: "nav-link" %>
      <% end %>
          <% if user_signed_in? %>

      <%= link_to(current_user.full_name, edit_user_path(current_user), class: "nav-link") %>


      <%= link_to "Sign Out", session_path, method: :delete,
                                            data: { confirm: "Are you sure you want to sign out?" }, class: "nav-link" %>
      <% end %>
    </ul>
</nav>